<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::title}, ~{::body})}">
<head>
    <title>課題一覧 | 課題管理アプリケーション</title>
</head>
<body>
<h1 class="mt-3">課題管理アプリケーション</h1>
<ul>
    <li>
        <a href="./issues/list.html" th:href="@{/issues}">課題一覧</a>
    </li>
</ul>
<table>
    <thead>
    <tr>
        <th>#</th>
        <th>概要</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="issue : ${issueList}">
        <th th:text="${issue.id}">(id)</th>
        <td th:text="${issue.summary}">(summary)</td>
    </tr>
    </tbody>
</table>
</body>
</html>